section {
	margin: 2rem auto;
	text-align: center;
}

input[type='text'] {
	display: block;
	margin: 0.5rem auto;
	width: 16rem;
}

button {
	background-color: snow;
	margin-top: 1rem;
	padding: 0.25rem 0.5rem;
	border-color: sienna;
	border-radius: 0.5rem;
}
